<ng-container>
  <p-menubar [model]="items" [formGroup]="formGroup">
    <ng-template pTemplate="start">
      <img src="assets/iptv-32.png" alt="IPTV icon">
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" formControlName="search" (change)="whenSearchChange($event)" (focus)="whenSearchChange($event)"/>
      </div>
    </ng-template>
  </p-menubar>

  <p-overlayPanel #searchPanel [style]="{ width: '95%' }" [showCloseIcon]="true">
    <div class="flex flex-wrap justify-content-between">
      <div class="title-box" *ngFor="let title of searchResult; index as i; trackBy: trackSearchResult" (click)="selectTitle(title)">
        <img *ngIf="title.thumbnailUrl; else elseImg" class="title-thumbnail" [src]="title.thumbnailUrl" (error)="whenThumbnailError($event, title)">
        <ng-template #elseImg>
          <img *ngIf="title.tmdb?.posterPath" class="title-thumbnail" src="https://image.tmdb.org/t/p/w200{{ title.tmdb?.posterPath }}">
        </ng-template>
        <p>{{ title.name }}</p>
      </div>
    </div>
  </p-overlayPanel>

  <router-outlet></router-outlet>
</ng-container>
