<ng-container [formGroup]="formGroup">

  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <p-button (click)="sidebarVisible = true" icon="pi pi-bars" styleClass="p-button-text mr-3" class="stop-close-overlay"/>
      <a routerLink="/"><img src="assets/iptv-32.png" alt="IPTV icon"></a>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto stop-close-overlay" formControlName="search" (change)="whenSearchChange($event)" (focus)="whenSearchFocus($event)"/>
      </div>
    </ng-template>
  </p-menubar>

  <p-overlayPanel #searchPanel [dismissable]="false" [autoZIndex]="false" [style]="{'z-index': 1}" styleClass="stop-close-overlay">
    <ng-template pTemplate="content">
      <div #searchResultContainer class="search-result-container" infinite-scroll [scrollWindow]="false" (scrolled)="whenScrollSearchResult($event)">
        <div>
          <div class="mb-3 flex flex-wrap">
            <div *ngFor="let genre of genres" class="channel-checkbox mr-2">
              <p-checkbox #genre
                          [value]="genre.id"
                          [label]="genre.name"
                          (onChange)="whenSearchChange()"
              />
            </div>
          </div>
        </div>

        <div>
          <div>
            <div class="flex flex-wrap justify-content-between">
              <div class="title-box" *ngFor="let title of searchResult; index as i; trackBy: trackSearchResult" (click)="selectTitle(title)">
                <img *ngIf="title.thumbnailUrl; else elseImg" class="title-thumbnail" [src]="title.thumbnailUrl" (error)="whenThumbnailError($event, title)">
                <ng-template #elseImg>
                  <img *ngIf="title.tmdb?.posterPath; else thumbnailPlaceholder" class="title-thumbnail" src="https://image.tmdb.org/t/p/w200{{ title.tmdb?.posterPath }}">
                  <ng-template #thumbnailPlaceholder>
                    <div class="title-thumbnail"></div>
                  </ng-template>
                </ng-template>
                <p>{{ title.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-overlayPanel>

  <p-sidebar [(visible)]="sidebarVisible" [modal]="false" [autoZIndex]="false" [style]="{'z-index': 2}" styleClass="stop-close-overlay">
    <h3>Channels</h3>
    <div>
      <div *ngFor="let channel of channels" class="mr-2">
        <p-checkbox #channel
                    [value]="channel.id"
                    [label]="channel.name"
                    (onChange)="whenSearchChange()"
        />
      </div>
    </div>
  </p-sidebar>

  <router-outlet></router-outlet>

</ng-container>
